{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
     <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
 <center><body>
    <div class="container">
        <h2>Login</h2>
        {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
       <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Enter Username" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <button type="submit" href="{% url 'dashboard' %}">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    </div>
</body>
</center>
</html>