html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffffff, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.container {
    background: white;
    padding: 25px 35px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    width: 400px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

form p {
    margin-bottom: 15px;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #2575fc;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1b5ed8;
}
